<div class="mycontainer">
    <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
        <div class="card-header text-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{city}} 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button *ngFor="let cityOption of cities" 
                            class="dropdown-item" 
                            type="button" 
                            (click)="onCityChange(cityOption)">
                        {{cityOption}} 
                    </button>
                </div>
            </div>

            <img [src]="iconURL" alt="weather image">
        </div>
        <div class="card-body">
            <p class="card-text">Summary: {{summary}}</p>
            <p class="card-text">Temperature: {{temperature | number: '1.0-0'}} °{{units=='imperial' ? 'F' : 'C'}}</p>
            <p class="card-text">Feels like: {{feelsLikeTemp | number: '1.0-0'}} °{{units=='imperial' ? 'F' : 'C'}}</p>
            <p class="card-text">Pressure: {{pressure}} hPa</p>
            <p class="card-text">Humidity: {{humidity}} %</p>
        </div>
        <div class="card-footer bg-transparent border-success">
            <form class="myRadioButtons">
                <label class="radio-inline">
                    <input type="radio" (change)="onRadioButtonChange('imperial')" name="unitsRadioButtons" [checked]="units=='imperial'">°F
                </label>
                <label class="radio-inline">
                    <input type="radio" (change)="onRadioButtonChange('metric')" name="unitsRadioButtons" [checked]="units=='metric'">°C
                </label>
            </form>
        </div>
    </div>
</div>
